* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form-wrapper {
  margin: 3rem auto;
  width: 800px;
  border: 2px solid rgb(155, 155, 155);
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgb(155, 155, 155);
}
